<!DOCTYPE html>
<html>
  <head>
    <title>TheMurphyNetwork</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <%= yield :head_scripts %>

    <%= yield :styles %>
  </head>

  <body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light" style="margin-bottom: 10px">
      <a class="navbar-brand" href="<%= contacts_path %>" style="font-family: 'Krona One', sans-serif;">
        <%= image_tag 'murphy-network.png', size: "30x30", class: "d-inline-block align-top", alt: "" %>
        The Murphy Network
      </a>

      <% if session[:verified] == true %>
        <div pull-left>
          <div class="row" style="margin-right: 20px">
            <%= link_to 'Contacts', contacts_path, class: 'nav-link', style: 'color: #616161' %>
            <%= link_to 'Ideas', ideas_path, class: 'nav-link', style: 'color: #616161' %>
            <%= link_to 'FAQ', faq_path, class: 'nav-link', style: 'color: #616161' %>
          </div>
        </div>
      <% end %>
    </nav>

    <div class="container">
      <%= render partial: 'shared/flash_messages' %>
      <%= yield %>
    </div>

    <%= yield :scripts %>
  </body>
</html>
