<!DOCTYPE html>
<html>
  <head>
    <title>TheMurphyNetwork</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light" style="margin-bottom: 10px">
      <a class="navbar-brand" href="<%= contacts_path %>" style="font-family: 'Krona One', sans-serif;">
        <%= image_tag 'murphy-network.png', size: "30x30", class: "d-inline-block align-top", alt: "" %>
        The Murphy Network
      </a>
    </nav>

    <div class="container">
      <%= render partial: 'shared/flash_messages' %>
      <%= yield %>
    </div>
  </body>
</html>
